# Base de datos MySQL
DB_HOST=db
DB_PORT=3306
DB_USER=smartbot_user
DB_PASSWORD=smartbot_pass
DB_NAME=proyecto_ia

# JWT
SECRET_KEY=cambia_esta_clave_secreta_en_produccion
ACCESS_TOKEN_EXPIRE_MINUTES=60
